#recon-container {
  padding-top: 40px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
}
#recon-container .notifications {
  float: right;
}
#recon-container .notification {
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px 20px 10px 10px;
  background: black;
  color: white;
  font-family: Audiowide, Arial;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#recon-container .thumbnail {
  height: 30px;
  width: 53px;
  vertical-align: middle;
}
#recon-container .notification .text {
  position:relative;
  left: 10px;
}

#recon-container .error {
  color: red;
}
